html{
	font-size: 14px;
}
body{
	background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(image/image-backg.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
 
}
.bg-title{
	color:#E6A756;
	padding: 2rem;
	font-size: 2rem;
	font-family: cursive;
}
.p{
	color: white;
	padding: 1rem;
	font-size: 3rem;
}
.h-color{
	color: #2A2D30;
	font-size: 1.5rem;
	font-family: cursive;
}
.navbar{
	background-color:rgb(46, 22, 14,0.9) ;
	height: 180px;
	margin-bottom: 1rem;

}

footer{
	background-color:rgb(46, 22, 14,0.9) ;
	color:#F6E1C5 ;
	padding: 1rem;
	margin: 1rem;
}
/*Start section1*/
.bg-beige{
	background-color: #F6E1C5;
	border-radius: 10px;
	padding: 1rem;
}

.btn{
background-color:#E6A756 !important;
height: 20%;
position: relative;
top: 5px;
}

.section2-home{
	background-color:#E6A756 ;
}
.section1-store{
	background-color:#E6A756 ;
}
.section1-store .monday{
	color: #D79B51;
}
.section1-store .heur{
	color: #D79B51;
}

/*End section2*/
/*section home*/

.texte{
	position: relative;
	top: -130%;
	left: -20%;
	width: 50%;
	height: 80%;
	
}





@media only screen and (max-width: 1116px)  {
	 .texte{		
		position:static !important;
		width: 100%;

		
	}
}


@media only screen and (max-width: 1110px)  {
	 .entete h3{

		display: none;


	}
}
@media only screen and (max-width: 1110px)  {
	 .entete p{

		display: none;


	}
}

.titrer{
	color:#E6A756 !important;
	padding: 2rem;
	font-size: 2rem;
	font-family: cursive;
}
@media only screen and (min-width: 1110px) {
	.titrer {

		display: none;


	}
}
/*end section home*/
/*start product*/
.absolute1{
	right: 0;
	top: -60px;

}
.absolute2{
bottom: 0;
right: 0;
bottom: -30px;
}
.absolute3{
	right: 0;
	top: -8px;
}

/*End product*/
/*START SECTION about*/
.texte-about{
	top: -60px;	
}
.texte-about{
	position: relative;
}

@media only screen and (max-width: 767px)  {
	 .texte-about{
	 	position:static !important;
		
	}
}
/*END SECTION about*/